<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../plugins/toast/jquery.toast.min.css" />
  </head>
  <body>
    <!-- <img src="images/background.png" alt=""> -->
    <div class="" style="display:none">
      name: <%=id%>
      <input id="avatar_id" type="text" name="id" value="<%=id%>">
    </div>
    <div class="" id="phaser-game">

    </div>

    <script src="../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="../plugins/jquery3.5.1/jquery3.5.1.js"></script>
    <script src="../node_modules/phaser/dist/phaser.js"></script>
    <!-- <script src="../js/client/easystar.min.js"></script> -->
    <!-- <script src="../node_modules/@azerion/phaser-input/build/phaser-input.js"></script> -->
    <!-- <script src="../js/client/phaser-input.js"></script> -->
    <!-- <script src="../js/client/phaser-input.min.js"></script> -->
    <!-- <script src="../js/client/avatar.js"></script> -->
    <!-- <script src="../js/client/session.js"></script> -->

    <!-- <script src="../js/client/mapa6/components/Player.js"></script> -->
    <!-- <script src="../js/client/mapa6/direction.js"></script> -->
    <script src="../js/client/mapa6/client.js"></script>
    <!-- <script src="../js/client/mapa6/components/Button.js"></script> -->
    <!-- <script src="../js/client/mapa6/home.js"></script> -->
    <!-- <script src="../js/client/mapa6/game.js"></script> -->
    <!-- <script src="../js/client/main.js" type="module"></script> -->
    <script src="../js/client/fullscreen.js" type="module"></script>
    <!-- <script src="../js/client/mapa6/components/Human.js"></script> -->
    <!-- <script src="../js/client/mapa6/components/Begin.js"></script> -->
    <!-- <script src="../js/client/mapa6/components/Player.js"></script> -->

  </body>
</html>
